<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="taiwan.questfy.welsenho.questfy_tw">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/questfy_logo_style_5_4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/questfy_logo_style_5_4_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.questfy.welsenho.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/img_file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByDLGHKUl2OutFByrDy0FgPUGU1FywsOg" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.LoginRelated.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.LoginRelated.SignUpAcivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.MainUserActivity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="taiwan.questfy.welsenho.questfy_tw.OtherUserProfileRelatedMethod.OtherUserProfileActivity" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.EditActivityRelated.EditInitActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="taiwan.questfy.welsenho.questfy_tw.EditActivityRelated.EditDetailMeetUpActivity" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.EditActivityRelated.EditQuestionRelateMajorChose"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.ReadArticleRelated.ReadArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.AnswerReplyActivityRelated.ReadAnswersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.AnswerReplyActivityRelated.AnswerReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.ReigisterCompleteInfoRelated.RealNameRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.ReigisterCompleteInfoRelated.BirthdayRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.ReigisterCompleteInfoRelated.UniversityRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.ReigisterCompleteInfoRelated.MainCourseRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.FriendMessagingRelated.FriendMessagingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.DailyQuestionsRelated.DailyQuestionArticleRead"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.MainUserActivity.OutOfConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.MainUserActivity.WelcomeScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.ReadArticleRelated.EnlargeImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.FriendRelatedActivity.SearchAndAddFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.EditActivityRelated.EditPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.LoginRelated.FacebookRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.PersonAskQuestionRelated.PersonalAskQuestReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.PersonAskQuestionRelated.PersonalAskReplyingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.AppIntroRelated.AppIntroActivity"
            android:label="@string/appIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.AppAnnouncementRelated.AppAnnouncementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="taiwan.questfy.welsenho.questfy_tw.AppAnnouncementRelated.AppRulesActivity"
            android:screenOrientation="portrait" />
        <activity android:name="taiwan.questfy.welsenho.questfy_tw.ReigisterCompleteInfoRelated.CurrentDegreeChoose" />
        <activity android:name="taiwan.questfy.welsenho.questfy_tw.AnswerReplyActivityRelated.EnlargeAnswerImageActivity"></activity>
    </application>

</manifest>