<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.welsenho.questfy_tw">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.welsenho.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/img_file_paths" />
        </provider>

        <activity android:name=".LoginRelated.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginRelated.SignUpAcivity" />
        <activity android:name=".MainUserActivity.MainActivity" />
        <activity android:name=".OtherUserProfileRelatedMethod.OtherUserProfileActivity" />
        <activity
            android:name=".EditActivityRelated.EditInitActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".EditActivityRelated.EditDetailMeetUpActivity" />
        <activity android:name=".EditActivityRelated.EditQuestionRelateMajorChose" />
        <activity android:name=".ReadArticleRelated.ReadArticleActivity" />
        <activity android:name=".AnswerReplyActivityRelated.ReadAnswersActivity" />
        <activity android:name=".AnswerReplyActivityRelated.AnswerReplyActivity" />
        <activity android:name=".ReigisterCompleteInfoRelated.RealNameRegisterActivity" />
        <activity android:name=".ReigisterCompleteInfoRelated.BirthdayRegisterActivity" />
        <activity android:name=".ReigisterCompleteInfoRelated.UniversityRegister" />
        <activity android:name=".ReigisterCompleteInfoRelated.MainCourseRegister" />
        <activity android:name=".FriendMessagingRelated.FriendMessagingActivity"></activity>
    </application>

</manifest>